
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Lato", sans-serif;

}

.outer-box{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #363636;
    min-width: 410px;
    padding-block: 40px;
}


.inner-box{

    width: 450px;
    position: relative;
    padding: 30px 20px;
    box-shadow: 3px 3px 5px  rgb(17, 206, 17);
    background: linear-gradient(to top left, white ,rgba(255, 255, 255, 0.205));
    backdrop-filter: blur(15px);
    z-index: 2;

}


.signup-header h1{
    font-size: 2.5rem;
    color: #131010;
    text-align: center;
}

.signup-header p{

    font-size: 0.9rem;
    color: black;
    font-weight: 600;
}

.signup-body{

    margin: 20px 0;

}

.signup-body .input{

    margin: 10px 0;

}

.signup-body .input label{

    display: block;
    font-size: 1rem;
    font-weight: 600;

}

.signup-body>form>.input>input{

    width: 100%;
    padding: 10px;
    border-radius: 7px;
    font-size: 1rem;
    margin-top: 5px;

}

.button{

    border: none;
    background-color: rgb(6, 65, 6);
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;

}

.twoButtons{

    display: flex;
    gap: 15px;
}

.button:hover{

    background-color: rgb(12, 150, 12);
    
}


#showText{

    width: 450px;
    padding: 30px 20px;
    box-shadow: 3px 3px 5px  rgb(17, 206, 17);
    background: linear-gradient(to top left, white ,rgba(255, 255, 255, 0.205));
    backdrop-filter: blur(10px);
    z-index: 2;

}

#showText h2{

    text-align: center;
    margin-block: 20px 50px;
    font-size: 1.7rem;
    color: #131010;

}

#showText p{

    margin-block: 48px;
    font-size: 1.2rem;

}

#showText .last{

    margin-block: 100px 50px;
    text-align: center;

}

/* Tablet */
@media (min-width:425px) and (max-width:768px){

    .outer-box{

        flex-direction: column;
        gap: 100px;
        align-items: center;
    }
    
}

@media (max-width:425px){

    .outer-box{

        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .inner-box,#showText {

        width: 300px;
    }
    
}